<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="js/loader.js"></script>
    <link rel="stylesheet" href="css/home.css"/>
</head>
<body>
<div id="app">
    <header>
        <div class="mui-search-container">
            <input type="text" placeholder="请输入您搜索的关键词"/>
            <button>搜索</button>
        </div>
    </header>
    <div class="mui-content">
        <!--
            图片
        -->
        <div class="img-container">
            <img src="img/show.jpg"/>
        </div>
        <!--
            选项卡
        -->
        <div class="tab-container">
            <template v-for="n in 15">
                <a @click="loadTabContent" v-if="n == 1" href="javascript:;" class="tab-item active">推荐</a>
                <a @click="loadTabContent" v-else href="javascript:;" class="tab-item">推荐</a>
            </template>
        </div>
        <!--
            选项卡内容
        -->
        <div class="tab-content active">
            <div v-for="n in 5" class="tab-content-item">
                <div class="class-label">
                    <img src="img/home/label.png"/>
                    <p class="class-label-name">分类</p>
                </div>
                <img src="img/show.jpg"/>
                <div class="tab-content-desc">
                    <p class="tab-content-desc-title">标题xxxxxxxxxxxxxxxxxxxxxxxxx</p>
                    <p class="tab-content-desc-content">内容xxxxxxxxxxxxxxxxxxxxx</p>
                    <p class="tab-content-desc-date">日期xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</div>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>